@charset "utf-8";
/* CSS Document */

.backhidden {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}


.position_center {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: auto;
}


.diandian {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*只支持webkit diandian2 diandian3*/
.diandian2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.diandian3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.breakall {
  word-wrap: break-word;
  word-break: break-all;
}

.notbreak {
  white-space: nowrap;
}


/*
    flex=======
    flex-grow:1     //有多余放大 默认:0    0时不放大
    flex-shrink:1   //不够减小  默认:0    0时不缩小
    flex-basis:auto
*/
.boxflex1 {
  -webkit-flex: 1 1 0 !important;
  flex: 1 1 0 !important;
}

.boxflex2 {
  -webkit-flex: 2 1 0 !important;
  flex: 2 1 0 !important;
}


/*纵向排列 左上*/
.box_slt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/*纵向排列 左中*/
.box_slc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*纵向排列 左下*/
.box_slb {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

/*纵向排列 中上*/
.box_sct {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*纵向排列 中中*/
.box_scc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*纵向排列 中下*/
.box_scb {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/*纵向排列 右上*/
.box_srt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

/*纵向排列 右中*/
.box_src {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

/*纵向排列 右下*/
.box_srb {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

/*横向排列 左上*/
.box_hlt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/*横向排列 左中*/
.box_hlc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/*横向排列 左下*/
.box_hlb {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

/*横向排列 中上*/
.box_hct {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

/*横向排列 中中*/
.box_hcc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*横向排列 中下*/
.box_hcb {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

/*横向排列 右上*/
.box_hrt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

/*横向排列 右中*/
.box_hrc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/*横向排列 右下*/
.box_hrb {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

/*多行*/
.box_lines {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.box_slt > *,
.box_slc > *,
.box_slb > *,
.box_sct > *,
.box_scc > *,
.box_scb > *,
.box_srt > *,
.box_src > *,
.box_srb > *,
.box_hlt > *,
.box_hlc > *,
.box_hlb > *,
.box_hct > *,
.box_hcc > *,
.box_hcb > *,
.box_hrt > *,
.box_hrc > *,
.box_hrb > * {
  flex: 0 0 auto;
}


.hover_animate {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hover_animate1 {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}


.hidden {
  display: none;
}


/*容器需要设置overflow:hidden*/
/*注意会自动padding 0.2rem 已便于隐藏ios的滚动条*/
.scroll_x {
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
}

.scroll_x::-webkit-scrollbar {
  display: none;
}

.scroll_y {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-right: 20px;
}

.scroll_y::-webkit-scrollbar {
  display: none;
}

.scroll_xy {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  padding-right: 20px;
}

.scroll_xy::-webkit-scrollbar {
  display: none;
}


/*添加字体*/
/*@font-face {*/
/*font-family: "pertibd";*/
/*src:url('./../font/PERTIBD.TTF?t=1526994860275') format('truetype'); !* chrome, firefox, opera, Safari, Android, iOS 4.2+*!*/
/*}*/

/*.pertibd {*/
/*font-family:"pertibd" !important;*/
/*}*/


/*.test{*/
/*animation:lineAnimate 1.5s infinite linear;*/
/*}*/


/*@keyframes lineAnimate {*/
/*0% {*/
/*transform: translateY(0%) scaleY(0)*/
/*}*/
/*10% {*/
/*transform: translateY(0%) scaleY(0.5)*/
/*}*/
/*30% {*/
/*transform: translateY(50%) scaleY(1)*/
/*}*/
/*45% {*/
/*transform: translateY(200%) scaleY(0.5)*/
/*}*/
/*55% {*/
/*transform: translateY(200%) scaleY(0)*/
/*}*/
/*100% {*/
/*transform: translateY(200%) scaleY(0)*/
/*}*/
/*}*/